<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Form">

    <formvh:render persistenceIdentifier="{settings.formStep2}" />

</f:section>
<f:section name="Error">

</f:section>
<f:section name="HashNotFound">


    Hash not found

</f:section>
<f:section name="AlreadyConfirmed">


    Already confirmed

</f:section>
<f:section name="Success">

    <p class="alert alert-success"><f:translate key="LLL:EXT:fe_registration/Resources/Private/Language/locallang.xlf:text.success" /></p>


</f:section>



</html>
