<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">

<f:section name="Form">

    <formvh:render persistenceIdentifier="{settings.form}" overrideConfiguration="{overrideConfiguration}" factoryClass="{factoryClass}" />

</f:section>
<f:section name="Error">

    <p class="alert alert-alert">Error</p>

</f:section>
<f:section name="HashNotFound">


    <p class="alert alert-alert">Hash not found</p>

</f:section>
<f:section name="AlreadyConfirmed">


    <p class="alert alert-alert">Already confirmed</p>

</f:section>


</html>
