<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:wsfe="http://typo3.org/ns/WapplerSystems/FormExtended/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<formvh:renderRenderable renderable="{element}">
    <f:render partial="Field/Field" arguments="{element: element}" contentAs="elementContent">
        <f:switch expression="{element.properties.renderAs}">

            <f:case value="dropdown">

                <f:asset.css identifier="tom-select" href="EXT:form_extended/Resources/Public/CSS/tom-select.bootstrap5.min.css" />
                <f:asset.script identifier="tom-select" src="EXT:form_extended/Resources/Public/JavaScript/Frontend/tom-select.typo3.min.js" />


                <f:if condition="{element.properties.prependOptionLabel}">
                    <f:then>
                        <f:form.select
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            class="{element.properties.elementClassAttribute} form-select"
                            options="{formvh:translateElementProperty(element: element, property: 'options')}"
                            multiple="multiple"
                            errorClass="{element.properties.elementErrorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                            prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}"
                            prependOptionValue="{formvh:translateElementProperty(element: element, property: 'prependOptionValue')}"
                        />
                    </f:then>
                    <f:else>
                        <f:form.select
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            class="{element.properties.elementClassAttribute} form-select"
                            options="{formvh:translateElementProperty(element: element, property: 'options')}"
                            multiple="multiple"
                            errorClass="{element.properties.elementErrorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        />
                    </f:else>
                </f:if>

                <f:asset.script identifier="tagify-{element.identifier}">
                    <f:alias map="{ocb: '{', ccb: '}'}">

                        let tomSelect_{element.javaScriptIdentifier} = new TomSelect('#{element.uniqueIdentifier}',{ocb}
                            sortField: {ocb}
                                field: "value",
                                direction: "asc"
                            {ccb},
                            plugins: {ocb}
                                'checkbox_options': {ocb}
                                    'checkedClassNames':   ['ts-checked'],
                                    'uncheckedClassNames': ['ts-unchecked'],
                                {ccb},
                                'counter': {ocb}
                                    placeholderText: '{formvh:translateElementProperty(element: element, property: 'counter.placeholder')}'
                                {ccb}
                            {ccb}
                        {ccb});

                    </f:alias>
                </f:asset.script>

            </f:case>
            <f:case value="tagsWithDropdown">

                <f:asset.css identifier="tom-select" href="EXT:form_extended/Resources/Public/CSS/tom-select.bootstrap5.min.css" />
                <f:asset.script identifier="tom-select" src="EXT:form_extended/Resources/Public/JavaScript/Frontend/tom-select.typo3.min.js" />

                <f:if condition="{element.properties.prependOptionLabel}">
                    <f:then>
                        <f:form.select
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            class="{element.properties.elementClassAttribute} form-select"
                            options="{formvh:translateElementProperty(element: element, property: 'options')}"
                            multiple="multiple"
                            errorClass="{element.properties.elementErrorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                            prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}"
                            prependOptionValue="{formvh:translateElementProperty(element: element, property: 'prependOptionValue')}"
                        />
                    </f:then>
                    <f:else>
                        <f:form.select
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            class="{element.properties.elementClassAttribute} form-select"
                            options="{formvh:translateElementProperty(element: element, property: 'options')}"
                            multiple="multiple"
                            errorClass="{element.properties.elementErrorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        />
                    </f:else>
                </f:if>

                <f:asset.script identifier="tagify-{element.identifier}">
                    <f:alias map="{ocb: '{', ccb: '}'}">

                        let tomSelect_{element.javaScriptIdentifier} = new TomSelect('#{element.uniqueIdentifier}',{ocb}
                        plugins: {ocb}
                            'checkbox_options': {ocb}
                                'checkedClassNames':   ['ts-checked'],
                                'uncheckedClassNames': ['ts-unchecked']
                            {ccb},
                            remove_button: {ocb}
                                title:'{formvh:translateElementProperty(element: element, property: 'remove_button.title')}'
                           {ccb}
                        {ccb},
                        {ccb});

                    </f:alias>
                </f:asset.script>

            </f:case>
            <f:case value="tagsWithTaglist">

                <f:asset.css identifier="tom-select" href="EXT:form_extended/Resources/Public/CSS/tom-select.bootstrap5.min.css" />
                <f:asset.script identifier="tom-select-typo3" src="EXT:form_extended/Resources/Public/JavaScript/Frontend/tom-select.typo3.js" />

                <f:if condition="{element.properties.prependOptionLabel}">
                    <f:then>
                        <f:form.select
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            class="{element.properties.elementClassAttribute} form-select-taglist"
                            options="{formvh:translateElementProperty(element: element, property: 'options')}"
                            multiple="multiple"
                            errorClass="{element.properties.elementErrorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                            prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}"
                            prependOptionValue="{formvh:translateElementProperty(element: element, property: 'prependOptionValue')}"
                        />
                    </f:then>
                    <f:else>
                        <f:form.select
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            class="{element.properties.elementClassAttribute} form-select-taglist"
                            options="{formvh:translateElementProperty(element: element, property: 'options')}"
                            multiple="multiple"
                            errorClass="{element.properties.elementErrorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        />
                    </f:else>
                </f:if>

                <f:asset.script identifier="tagify-{element.identifier}">
                    <f:alias map="{ocb: '{', ccb: '}'}">

                        let tomSelect_{element.javaScriptIdentifier} = new TomSelect('#{element.uniqueIdentifier}',{ocb}
                            openOnFocus: false,
                            plugins: {ocb}
                                remove_button: {ocb}
                                    title:'{formvh:translateElementProperty(element: element, property: 'remove_button.title')}'
                                {ccb},
                                tag_list: {ocb}

                                {ccb}
                            {ccb}
                        {ccb});

                    </f:alias>
                </f:asset.script>

            </f:case>
            <f:defaultCase>

                <f:if condition="{element.properties.prependOptionLabel}">
                    <f:then>
                        <f:form.select
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            class="{element.properties.elementClassAttribute} form-select"
                            options="{formvh:translateElementProperty(element: element, property: 'options')}"
                            multiple="multiple"
                            errorClass="{element.properties.elementErrorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                            prependOptionLabel="{formvh:translateElementProperty(element: element, property: 'prependOptionLabel')}"
                            prependOptionValue="{formvh:translateElementProperty(element: element, property: 'prependOptionValue')}"
                        />
                    </f:then>
                    <f:else>
                        <f:form.select
                            property="{element.identifier}"
                            id="{element.uniqueIdentifier}"
                            class="{element.properties.elementClassAttribute} form-select"
                            options="{formvh:translateElementProperty(element: element, property: 'options')}"
                            multiple="multiple"
                            errorClass="{element.properties.elementErrorClassAttribute}"
                            additionalAttributes="{formvh:translateElementProperty(element: element, property: 'fluidAdditionalAttributes')}"
                        />
                    </f:else>
                </f:if>

            </f:defaultCase>
        </f:switch>



    </f:render>
</formvh:renderRenderable>
</html>
