<f:layout name="SystemEmail" />
<f:section name="Title">{title}</f:section>
<f:section name="Main">


    <p>
        <f:translate key="LLL:EXT:fe_registration/Resources/Private/Language/locallang.xlf:doubleoptin.email.text" />
    </p>
    <p>
        <f:link.action pageUid="{pageUid}" extensionName="feregistration" pluginName="Registration" controller="Registration" action="confirm" absolute="1" arguments="{hash: confirmationRequest.confirmationHash}">
            {f:uri.action(pageUid: pageUid, extensionName: 'feregistration', pluginName: 'Registration', controller: 'Registration', action: 'confirm', absolute: 1, arguments: {hash: confirmationRequest.confirmationHash})}
        </f:link.action>
    </p>


</f:section>
